@import './normalize.css';
@import 'bourbon';

.card-wrapper {
  vertical-align: top;
  position: relative;
  width: 350px;
  margin: 2px;
  border: 1px solid black;
  display: inline-block;
}
.card {
  position: absolute;
  margin-bottom: 20px;
  padding: 1em 2em;
  border-radius: .2em;
  background: rgba(200, 200, 200, 0.8);
}
.card:hover {
  background: rgba(200,200,200, .7);
}
.card:active {
  background: rgba(255,155,200, .7);
}
