@import './normalize.css';
@import 'bourbon';

.card-wrapper {
  position: relative;
  width: 350px;
  margin: 2px;
  border: 1px solid black;
  display: inline-block;
}
.card {
  position: absolute;
  margin-bottom: 20px;
  padding: 1em 2em;
  border-radius: .2em;
  background: rgb(200,200,200);
}
.card:hover {
  background: rgba(200,200,200, .8);
}
.card:active {
  background: rgba(255,155,200, .8);
}
